name = "groundwire"
main = "src/index.js"
compatibility_date = "2024-11-21"

[vars]
# Currency that will be shown in Groundwire (see the screenshot)
CURRENCY = 'CAD'
# VOIP username - replace with your actual username
VOIP_USERNAME = 'your_username@example.com'
# !! Define VOIP_PASSWORD via `wrangler secret put VOIP_PASSWORD`
# !! Define TOKEN via `wrangler secret put TOKEN`

[observability.logs]
enabled = true

[placement]
mode = "smart"
